:root {
    font-family: Roboto, sans-serif;
    font-size: 2vw;
}

/* reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

.hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    height: auto;
}

.hero h1 {
    text-align: center;
    font-size: 3.2rem;
    margin-top: 25%;
    margin-bottom: 15%;
}

.hero img {
    width: 40vw;
    /*Does not resize as I want*/
}

.contents {
    background-color: rgb(95, 211, 115);
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.contents>h1 {
    font-size: 4rem;
}

.contents img {
    width: 25vw;
    height: auto;
}

.footer-section-1 {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
}

.pricing-table {
    background-color: black;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: auto;
}

.card {
    margin: 1vw;
    border-radius: 4px;
    text-align: center;
    box-shadow: 2px 2px;
    width: 25vw;
    height: auto;
}
.card img {
    width: 24.4vw;
}

.card>p {
    font-size: 1.5vw;
}

.card button {
    padding: 6px 8px;
    font-size: 0.6em;
    border-radius: 4px;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.big-card {
    background-color: white;
    inline-size: 40.6vw;
    overflow-wrap: break-word;
}

.big-card img {
    width: 40.6vw;
}

.big-card > h3,
.big-card > p {
    background-color: white;
}

/* --- CSS for the page checkout.html starts here --- */
.checkout-section {
    background-color: black;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: auto;
    padding-left: 7vw;
    padding-right: 7vw;
}

.big-card-checkout{
    background-color: white;
    inline-size: 30vw;
    overflow-wrap: break-word;
}
.big-card-checkout img {
    width: 30vw;
    inline-size: 30vw;
}
.big-card-checkout button{
    padding: 6px 8px;
    font-size: 1em;
    border-radius: 4px;
    margin-bottom: 1.6vw;
    margin-top: 1vw;
    background-color: #E83F67;
    margin-left: 1.4vw;
    color: white;
}
.big-card-checkout > h3{
    margin-left: 1.3vw;
}

.spacer-black-top,
.spacer-black-bottom {
    width: 100vw;
    height: 30px;
    color: black;
    background-color: black;
}

.spacer-black-bottom {
    height: 45px;
}

/*  ---- end for checkout --- */

.big-card button,
.checkout-btn {
    padding: 6px 8px;
    font-size: 1em;
    border-radius: 4px;
    margin-bottom: 1.6vw;
    background-color: #E83F67;
    margin-left: 1.4vw;
    color: white;
}

.checkout-btn {
    margin-right: 11.8vw;
}

.big-card>p,
.big-card>h3 {
    margin-left: 1.4vw;
    text-wrap: wrap;
    word-wrap: break-word;
    margin-bottom: 2.5vw;
}

.big-card>p {
    font-size: 1.5vw;
}
.big-card>h3{
    margin-top: 2vw;
}

.pricing-table :nth-child(2) {
    /*flex-basis: 10em;  making the first item larger, for demo purposes */
    /*flex-grow: 1; making the first item twice as large*/
    background-color: #dd9434;

    p,
    h3 {
        background-color: #dd9434;
    }

    button {
        background-color: #c78530;
    }
}

.pricing-table :nth-child(3) {
    /*flex-shrink: 2;*/
    /*I tried to make this card shrink a bit, but does not work as intended. Crying!!!!*/
    background-color: #e9ecec;

    p,
    h3 {
        background-color: #e9ecec;
    }

    button {
        background-color: #d0d6d6;
    }
}

.pricing-table :nth-child(4) {
    background-color: #f8f41f;

    p,
    h3 {
        background-color: #f8f41f;
    }

    button {
        background-color: #e9e516;
    }
}

.pricing-table :nth-child(5),
.pricing-table :nth-child(6),
.pricing-table :nth-child(7),
.pricing-table :nth-child(8),
.pricing-table :nth-child(9),
.pricing-table :nth-child(10) {
    background-color: #193ea3;

    p,
    h3 {
        color: white;
        background-color: #193ea3;
    }

    button {
        color: white;
        background-color: #E83F67;
    }
}

.all-the-space {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 100%;
    align-self: end;
}

.pricing-table :nth-child(11),
.pricing-table :nth-child(12) {
    /*flex-basis: 10em;  making the first item larger, for demo purposes */
    /*flex-grow: 1; making the first item twice as large*/
    background-color: white;

    p,
    h3 {
        background-color: white;
    }

    button {
        color: white;
        background-color: #E83F67;
    }
}

table {
    width: 100%;
}

.my-table {
    background-color: black;
    color: white;
    width: 72%;
}

.thead-small-red th {
    text-align: left;
    background-color: #3d0b0b;
    font-size: 0.7rem;
    font-weight: 300;
    color: white;
}

.thead-small-red tr> td {
    text-align: left;
    background-color: #3d0b0b;
    font-size: 0.8rem;
    font-weight: 200;
    color: white;
}

tbody :nth-child(4) {
    color: antiquewhite;
}

tr :nth-child(1) {
    width: auto;
}
tr :nth-child(2) {
    width: 20vw;
}
tr :nth-child(3) {
    width: 9vw;
}

tfoot > tr > td{
    font-size: 1.1rem;
    font-weight: 400;
}

footer {
    display: flex;
    width: 100vw;
    gap: 5rem;
    background-color: rgb(44, 41, 41);
    padding-left: 10vw;
}

footer h1 {
    margin-bottom: 15px;
}

.navbar a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 1.2em;
}

.footer-section-1 {
    margin-top: 5vh;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 15vh;
}

.footer-section-2,
.footer-section-3 {
    margin-top: 3vh;
    color: white;
    padding: 1em;
    margin-bottom: 15vh;
}

a:link {
    font-size: 0.8rem;
}

.social-media img {
    width: 3vw;
}

@media screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }

    .footer-section-1,
    .footer-section-2,
    .footer-section-3 {
        margin-top: 0px;
        margin-bottom: 1vw;
    }

    .footer-section-1 {
        margin-left: 1vw;
    }

    footer h1 {
        margin-bottom: 5px;
    }
}